PyTrx/Examples/camenv_data/dem/DEM_depotNNE_07cm_absolute_2023_09_27.tif
.DS_Store
PyTrx/Examples/camenv_data/.DS_Store
PyTrx/Examples/camenv_data/dem/DEM_depotNNE_07cm_absolute_2023_09_27.tif.aux.xml
